@font-face {
    font-family: 'Gilroy';
    src: url('./fonts/gilroy.ttf') format("truetype"); 
  }

  body{
      font-family: 'Gilroy';
      margin: 0;
      padding: 0;
      background-image: url("./img/icon-yellow-repeat.png");
    background-repeat: repeat;
    background-size: 70px;
  }

  html {
    scroll-behavior: smooth;
  }

.header {


   background-image:
    linear-gradient(to right, rgba(6, 20, 57, 1), rgba(6, 20, 57, 0.10)),
    url('img/landing1.jpg');

  background-size: cover;
  min-height: 100vh;
}

.header .navbar {
    background-color: transparent !important;
  }

  .header1 {

  
     background-image:
      linear-gradient(to right, rgba(6, 20, 57, 1), rgba(6, 20, 57, 0.70)), url('img/landing1-sm.png');
  
    background-size: cover;
    /* background-position:  right; */
    min-height: 100vh;
  }
  
  .header1 .navbar {
      background-color: transparent !important;
    }

    .header2 {

  
    background: rgba(6, 20, 57,1);
     
       background-size: cover;
       /* background-position:  right; */
     }
     
     .header2 .navbar {
         background-color: transparent !important;
       }

  nav .navbar-nav li a{
    /* color: white !important; */
    color: #DCC579 !important;
    transition: 0.3s;
    opacity: 0.4;

}

nav .navbar-nav li a:hover{
    
    opacity: 1;

}

.header-text {
    padding: 5%;
    color: white;
    transition: 0.3s;

}

.header-text h1{
    font-weight: 700;
    font-size: 70px;
}
.header-text h6{
    font-weight: 300;
    border-top: white solid 1px;
    padding-top: 5px;
}

.header-text p i{

    padding: 0px 12px 0px 0px;
    font-size: 20px;
}

.header-text a{
    font-size: 17px;
    border: solid 2px white;
    color: white;
    transition: 0.3s;
}

.header-text a:hover{
    background: white;
    color: #061439;
}


.repeat-background {

    
    background-position: left center;


}

.tittle-yellow{
    color: #DCC579;
}

.tittle-blue {
    color: #061439;
}

.circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid #DCC579;
    color: #DCC579;
    text-align: center;

    font: 24px;
  }

  .circle1 {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 10px;
    border: 2px solid #DCC579;
    color: #DCC579;
    text-align: center;

    font: 32px;
  }

.parallax{
    background: linear-gradient(to right, rgba(6, 20, 57, 0.90), rgba(6, 20, 57, 0.05)),
     url('img/parallax1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}


.bg {
    background: #061439;
}

.button-mail{
    font-size: 17px;
    border: solid 2px white;
    color: white;
    transition: 0.3s;

}
.button-mail:hover{
    background: white;
    color: #061439;
    /* border: solid 2px #DCC579; */

}

.float{
	position:fixed;
	width:200px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
   font-size:15px;
	/* box-shadow: 2px 2px 3px #999; */
    z-index:100;
    text-decoration: none;
}

.float:hover{
    color: white;
}

.my-float{
	margin-top:4%;
}
.my-float:hover{
    color: white;
}

.service-btn {
    font-size: 17px;
    border: solid 2px white;
    color: white;
    transition: 0.3s;
}

.anim-img{
    transition: 0.5s;
}
.anim-img a{
    color: #DCC579;
    text-decoration: none;

}
.anim-img img{
    transition: 0.7s;
}
.anim-img a:hover{
    color: #DCC579;
    text-decoration: none;

}
.anim-img img:hover{
    z-index: 3;
    border: white 4px solid;
    border-radius: 100%;
    background-color: #000;
}




